html {
	background: black;
}

#div1 {
	position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

#div2 {
  position: absolute;
  left: 1000px;
  top: 0px;
  z-index: -1;
}

#div3 {
  position: absolute;
  right: 0px;
  top: 200px;
  z-index: -1;
}

#div4 {
  position: absolute;
  left: 300px;
  top: 0px;
  z-index: -1;
}