#bio {
	font-family: courier;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 100px;
	line-height: 30px;
	text-align: justify;
}

#title {
	font-family: helvetica;
	text-transform: uppercase;
	font-size: 100px;
	font-weight: bold;
	padding-left: 10px;
	margin: 1px
}

#links {
	font-family: helvetica;
	text-transform: uppercase;
	font-size: 12px;
	padding-left: 10px;
	color: black;
}

#babyPhoto {
    max-width: 200px;
    position: relative;
    padding: 10px;
}