html, body {margin: 0; height: 100%; overflow: hidden}

#bio {
	font-family: helvetica;
	font-size: 15px;
	padding-right: 300px;
	padding-left: 300px;
	text-align: justify;
	line-height: 30px;
}

#babyPhoto {
	height: 100%;
	width: 100%
}