html, body {margin: 0; height: 100%; overflow: hidden}

html {
	background: #FFFAF1;
}
#bio {
	font-family: courier;
	font-size: 12px;
	padding-left: 10px;
	line-height: 30px;
	width: 600px;
}

#title {
	font-family: helvetica;
	text-transform: uppercase;
	font-size: 20px;
	padding-right: 300px;
	padding-left: 300px;
}

#mySite {
	font-family: helvetica;
	text-transform: uppercase;
	font-size: 10;
	padding-right: 300px;
	padding-left: 300px;
}

#projectsLink {

}

#babyPhoto {
	max-width: 100%;
	position: relative;
}