@media (max-width: 600px) {
	body {
		background: #edfbff;
	}
}

@media (max-width: 1000px) {
	body {
		background: #ffeded;
	}
}

body {
	font-family: 'VT323', monospace;
	font-size: 24px;
	margin: auto;
	width: 50%;
	padding: 100px;
	text-align: center;
	/* background-color: ivory; */
}

/* body .options {
	font-size: 18px;
	font-weight: normal;
	color: darkgreen;
	padding: 10px;
}
*/

img {
	height:auto;
	width: 70%;
}

#tomjerry {
	font-family: helvetica;
	font-size: 40px;
	text-transform: uppercase;
}

#startover {
	color:blue;
	font-size: 12px;
	padding-top: 50px;
}

#startover a, a:hover, a:visited, a:active {
	color: #ff75ec;
}


#options {
	font-size: 18px;
	font-weight: normal;
	padding: 10px;
	padding-bottom: 20px;
}


#options a, a:hover, a:visited, a:active {
	color: #5587fc;
}
