body {
	font-family: 'VT323', monospace;
	font-size: 24px;
	margin: auto;
	width: 50%;
	padding: 100px;
	text-align: center;
	background-color: ivory;
}

body .options {
	font-size: 18px;
	font-weight: normal;
	color: darkgreen;
}

#tomjerry {
	font-family: 'VT323', monospace;
	font-size: 40px;
	text-transform: uppercase;
}
