body {
	font-family: 'VT323', monospace;
	font-size: 24px;
	margin: auto;
	width: 50%;
	padding: 100px;
	text-align: center;
}

body .options {
	font-size: 10px;
	font-weight: lighter;
}

#tomjerry {
	font-family: 'VT323', monospace;
	font-size: 50px;
	text-transform: uppercase;
}
