/* Style the navigation bar */
* {
   margin: 0;
   padding: 0;
}

body {
  background-color: #0e3653;
  overflow: hidden;
}

.navbar {
  width: 100%;
  overflow: auto;
  text-align: center;
}

/* Navbar links */
.navbar a {
  /* float: left; 
    padding: 12px;
*/
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navicon {
  width: 100px;
  height: 100px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}


#logo {
  width: 160px;
  height: 160px;
  padding: 5px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #0a2c3d;
}

/* Current/active navbar link */
.active {
  background-color: #0e3653;
}

.imagebackground {
  display: grid;
  height: 100%;
}
#backgroundimage {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
}
}